.v-top {
    vertical-align: top;
}

.v-middle {
    vertical-align: middle !important;
}

.v-bottom {
    vertical-align: bottom;
}

.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}

.a-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul.list > li {
    margin-left: 2rem;
    list-style-type: disc;
}

.required {
    color: #eb5202;
}

#globalMessages {
    margin-top: 1px;
}

.skippable-global-message {
    float: right;
    cursor: pointer;
}

#globalMessages .message-success,
.page-content .message-success,
.AmazonMcf-messages .message-success {
    background-color: #efffcc !important;
}

#globalMessages .message-warning,
.page-content .message-warning,
.AmazonMcf-messages .message-warning {
    background-color: #fddaad !important;
}

/* Magento 2.1 compatibility */
/* ================================================ */
.admin__fieldset > .admin__field > .admin__field-label {
    width: calc((100%) * 0.33333333 - 30px);
}

.admin__fieldset-wrapper-content .admin__fieldset {
    padding-top: 0 !important;
}

/* ================================================ */

/* Magento 2.2 compatibility */
/* ================================================ */
.admin__field-value {
    display: block;
}

/* ================================================ */

.admin__old .fieldset > .legend {
    position: static;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #cac3b4;
    margin: 0 0 18px;
}

.admin__old .fieldset > .legend span {
    color: #303030;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 7px 0 10px;
    display: inline-block;
}

.forward:after {
    display: inline-block;
    content: '\e626';
    margin-left: .5em;
    position: relative;
    top: 1px;
    transform: rotate(180deg);
    -webkit-font-smoothing: antialiased;
    font-family: 'Admin Icons';
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.icon-warning:before {
    font-family: 'Admin Icons';
    margin-right: 5px;
    position: relative;
    top: 3px;
    content: '\e623';
    color: #EB5202;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
}

.modals-wrapper a:not(.ui-tabs-anchor), .main-col a:not(.ui-tabs-anchor) {
    cursor: pointer;
    text-decoration: underline;
}

.modal-popup .modal-footer .action-primary {
    background: #eb5202 !important;
    border-color: #eb5202 !important;
}

.invalid-row {
    background-color: #ffcdbd !important;
}

.AmazonMcf-fieldset-table .admin__field-control {
    width: calc(100% - 30px) !important;
    margin-left: 15px !important;
}

.AmazonMcf-fieldset-table.admin__field {
    margin-left: 10px !important;
}

.AmazonMcf-fieldset-table .admin__field-value {
    padding: 0 2em !important;
}

.AmazonMcf-fieldset-table td {
    vertical-align: middle;
}

.AmazonMcf-custom-container-full-width .admin__field-control {
    width: 95% !important;
}

.multiselect {
    max-height: 115px
}

.admin__field-control input[type="file"] {
    margin-top: 5px !important;
    color: #000 !important;
}

.admin__field.with-note .note {
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
}

.ui-tabs-panel {
    padding: 2rem 0 0 2rem;
}

.AmazonMcf-tabs-horizontal ~ div .ui-tabs-panel {
    padding: 30px 0;
    min-height: 8rem;
}

.AmazonMcf-tabs-horizontal ~ div .ui-tabs-panel .ui-tabs-panel {
    padding: 2rem 0 0 2rem;
}

.modal-content .AmazonMcf-tabs-horizontal + div .ui-tabs-panel {
    padding: 25px 0;
}

.AmazonMcf-tabs-horizontal li.ui-state-disabled a {
    cursor: not-allowed;
}

.AmazonMcf-separator hr {
    border-style: solid;
    border-color: #CCCCCC;
    margin-bottom: 25px;
    border-bottom-width: 0;
    width: 70%;
    margin-left: 70px;
}

select.locked_selected {
    color: gray !important;
    font-weight: bold !important;
}

select.locked_selected option[value="0"] {
    color: black !important;
    font-weight: normal !important;
}

select.hightlight_selected {
    color: green !important;
    font-weight: bold !important;
}

select.hightlight_selected option[value="0"] {
    color: black !important;
    font-weight: normal !important;
}

select.lacklustre_selected {
    color: black !important;
}

select.lacklustre_selected option[value="1"] {
    color: green !important;
    font-weight: bold !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.bold {
    font-weight: bold;
}

.main-col:not(:only-child) .AmazonMcf-fieldset input[type="text"].input-text,
#container:not(:only-child) .AmazonMcf-fieldset input[type="text"].input-text {
    width: 50%;
}

.AmazonMcf-fieldset input[type="text"].input-text {
    width: 70%;
}

#container:not(:only-child) .AmazonMcf-fieldset label.label,
.main-col:not(:only-child) .AmazonMcf-fieldset label.label {
    width: 35%;
}

#container:not(:only-child) .admin__scope-old .form-inline .no-label .control,
.main-col:not(:only-child) .admin__scope-old .form-inline .no-label .control {
    margin-left: 40%;
}

a.hover-underline {
    text-decoration: none !important;
}

a.hover-underline:hover {
    text-decoration: underline !important;
}

/* popup width classes */
/* ================================================ */

.width-50 > .modal-inner-wrap {
    width: 50%
}

.width-50 .admin__fieldset > .admin__field > .admin__field-control {
    width: calc((100%) * 0.77777777 - 30px);
}

.width-50 .admin__fieldset > .admin__field > .admin__field-label {
    width: calc((100%) * 0.22222222 - 30px);
}

.width-50 label.error {
    display: block;
    padding-top: 3px;
}

.width-500 > .modal-inner-wrap {
    width: 600px;
}

.magento-attribute-btn {
    margin-left: 5px;
}

.modal-slide .modal-header > #messages .message {
    margin: 0 0 .6rem !important;
}

/* Errors Summary */
/* ================================================ */

.errors_summary {
    padding: 8px 15px !important;
    margin: 30px 0 !important;
    border: 1px dashed #FF7A7A !important;
    background-color: #FFF7EA !important;
}

.errors_summary_title {
    margin-bottom: 10px !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: gray !important;
}

.errors_summary_title a {
    text-decoration: none !important;
}

.errors_summary_close {
    font-family: 'Admin Icons';
    float: right !important;
    font-weight: normal !important;
}

.errors_summary_content {
    max-height: 125px !important;
    overflow: auto !important;
}

.errors_summary_line {
    margin-bottom: 5px !important;
}

.errors_summary_type {
    float: left !important;
    width: 135px !important;
    text-align: center !important;
    font-weight: bold !important;
    color: red !important;
}

.errors_summary_text {
    margin-left: 150px !important;
}

label.mage-error > a:before {
    content: '\e632';
    display: block;
    font-family: 'Admin Icons';
    font-size: 6px;
    color: #ee7d7d;
    cursor: pointer;
    line-height: 2;
    margin-left: -10px;
    position: absolute;
    left: 100%;
    top: 2%;
}

/* Variation product manage variations */
/* ================================================ */

.attributes-options-filter img {
    cursor: pointer;
}

.attributes-options-filter-values .filter-param-remove {
    padding-left: 5px;
}

.attributes-options-filter-values input {
    width: 87%;
    margin-top: 3px;
}

.product-options-main select {
    width: 185px;
}

.manage-variations.form-list td.value select {
    width: 225px;
}

.AmazonMcf-variation-attributes {
    font-size: 11px;
}

.AmazonMcf-variation-attributes a {
    text-decoration: none !important;
    color: grey;
}

.AmazonMcf-variation-attributes a:hover {
    text-decoration: underline !important;
}

.grid-listing-column-identifiers {
    width: 200px;
}

/* ================================================ */

.categories-side-col a {
    text-decoration: none !important;
}

#productSearch_grid .admin__data-grid-wrap {
    padding-top: 0;
    overflow: visible;
}

#container .admin__field-tooltip-content strong {
    background-color: transparent;
}

/* Fix for Magento tooltip */
/* ================================================ */

.fix-magento-tooltip {
    width: 25px !important;
    display: inline-block;
}

.fix-magento-tooltip div.AmazonMcf-field-tooltip .admin__field-tooltip {
    width: 25px !important;
    margin-top: 0 !important;
    right: 0 !important;
}

.fix-magento-tooltip a.admin__field-tooltip-action {
    width: 25px !important;
    margin-left: 0 !important;
}

.fix-magento-tooltip div.admin__field-tooltip {
    width: 25px !important;
    margin-top: 0 !important;
    vertical-align: baseline;
    right: 0 !important;
}

.fix-magento-tooltip div.admin__field-tooltip-content {
    right: -25px !important;
}

.external-link:after {
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    color: #514943;
    content: '\e801';
    font-family: 'm2e-amazonmcf';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    margin: 0 0 0 0.2rem;
}

.fix-magento-tooltip.m2e-tooltip-grid-warning .admin__field-tooltip-action:before {
    content: '\e623';
    color: #EB5202;
    font-size: 1.6rem;
}

.fix-magento-tooltip.m2e-tooltip-grid-warning .admin__field-tooltip-content {
    right: -6px !important;
}

.fix-magento-tooltip.m2e-tooltip-grid-warning .admin__field-tooltip .admin__field-tooltip-content:after,
.fix-magento-tooltip.m2e-tooltip-grid-warning .admin__field-tooltip .admin__field-tooltip-content:before {
    right: 8px !important;
    border-width: 1.3rem;
}

.fix-magento-tooltip.m2e-tooltip-grid-warning .admin__field-tooltip .admin__field-tooltip-content {
    bottom: 3.3rem;
}

.AmazonMcf-field-tooltip .admin__field-tooltip-action,
.AmazonMcf-field-tooltip-to-right .admin__field-tooltip-action {
    margin-left: 2rem;
}

.note_icon.admin__field-tooltip {
    width: auto;
}

.admin__field-tooltip-note-action:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.2rem;
    line-height: 1;
    color: #514943;
    content: url(../images/fam_book_open.png);
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.searched_child_product .admin__field-tooltip a.admin__field-tooltip-action {
    background: url(../images/i_icon.png) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.searched_child_product .admin__field-tooltip .admin__field-tooltip-action:before {
    content: '';
}

.big-size {
    padding: 5px 10px;
    font-size: 1.4rem;
}

#view_mode_switcher {
    background: #eb5202;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

#view_mode_switcher:after {
    border-color: white transparent transparent transparent;
}

/* Disable events for action button child  */
/* ================================================ */

button.action * {
    pointer-events: none;
}

/* Datepicker fixes */

.ui-datepicker-trigger {
    font-size: 0 !important;
}

._has-datepicker {
    width: auto !important;
    padding-right: 2.6rem !important;
    max-width: 16rem !important;
}

._has-datepicker + .ui-datepicker-trigger {
    width: auto !important;
    margin-left: -2.6rem !important;
}
