<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Setup  -->
    <type name="M2E\AmazonMcf\Setup\InstallHandlerCollection">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="core" xsi:type="object">M2E\AmazonMcf\Setup\InstallHandler\CoreHandler</item>
                <item name="account" xsi:type="object">M2E\AmazonMcf\Setup\InstallHandler\AccountHandler</item>
                <item name="product" xsi:type="object">M2E\AmazonMcf\Setup\InstallHandler\ProductHandler</item>
                <item name="order" xsi:type="object">M2E\AmazonMcf\Setup\InstallHandler\OrderHandler</item>
                <item name="log" xsi:type="object">M2E\AmazonMcf\Setup\InstallHandler\LogHandler</item>
            </argument>
        </arguments>
    </type>

    <!--  UI  -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="m2e_amazonmcf_product_grid_source" xsi:type="string">
                    M2E\AmazonMcf\Model\ResourceModel\Product\Grid\Collection
                </item>
                <item name="m2e_amazonmcf_product_log_grid_source" xsi:type="string">
                    M2E\AmazonMcf\Model\ResourceModel\Product\Log\Grid\Collection
                </item>
                <item name="m2e_amazonmcf_order_grid_source" xsi:type="string">
                    M2E\AmazonMcf\Model\ResourceModel\Order\Grid\Collection
                </item>
                <item name="m2e_amazonmcf_order_log_grid_source" xsi:type="string">
                    M2E\AmazonMcf\Model\ResourceModel\Order\Log\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Shipping Tracker -->
    <type name="Magento\Shipping\Block\Tracking\Popup">
        <plugin name="m2e_amazonmcf_add_carrier_url"
                type="M2E\AmazonMcf\Plugin\Block\Tracking\PopupPlugin"
                sortOrder="10" />
    </type>

</config>
